/* ===== BASE STYLES ===== */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em; /* 20 / 16 = 1.25 */
  line-height: 1.2em; /* 24px line height */
}

h2, ul, p {
  padding-bottom: 1.2em; /* 24px / 20 = 1.2 */
}

/* ===== STATE STYLES ===== */
.has-toolbar body {
  overflow-x: hidden;
}
#content {
  transition: margin-left 1s;
}
.hasjs #content {
  width: 100%;
}
.has-toolbar #content {
  margin-left: 50%;
}

.hasjs #tools {
  transition: none; /* No transition on load or tool close */
  opacity: 0;
  position: absolute;
  top: 120px;
  /*left: -50%;*/
  left: 5%;
}
.has-toolbar #tools {
  transition: opacity 1s 1s;
  opacity: 1;
}
